@charset "UTF-8";
[data-theme=default-theme] {
  --main-color: 55, 55, 55;
  --secondary-color: 255, 102, 0;
  --background-color: 255, 255, 255;
  --hero-image: url("/src/images/car_pink.png");
}

[data-theme=golden-accent-theme] {
  --main-color: 33, 37, 41;
  --secondary-color: 218, 185, 100;
  --background-color: 255, 255, 255;
  --hero-image: url("/src/images/car_yellow.png");
}

[data-theme=red-accent-theme] {
  --main-color: 33, 37, 41;
  --secondary-color: 220, 53, 69;
  --background-color: 248, 249, 250;
  --hero-image: url("/src/images/car_pink.png");
}

[data-theme=vibrant-purple-yellow-theme] {
  --main-color: 111, 66, 193;
  --secondary-color: 255, 193, 7;
  --background-color: 248, 249, 250;
  --hero-image: url("/src/images/car_yellow.png");
}

[data-theme=gray-tone-theme] {
  --main-color: 75, 75, 75;
  --secondary-color: 140, 140, 140;
  --background-color: 255, 255, 255;
  --hero-image: url("/src/images/car_gray.png");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.4s, background-color 0.4s, opacity 0.4s, border-color 0.4s, -webkit-transform 0.4s;
  transition: color 0.4s, background-color 0.4s, opacity 0.4s, border-color 0.4s, -webkit-transform 0.4s;
  transition: color 0.4s, background-color 0.4s, transform 0.4s, opacity 0.4s, border-color 0.4s;
  transition: color 0.4s, background-color 0.4s, transform 0.4s, opacity 0.4s, border-color 0.4s, -webkit-transform 0.4s;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: rgb(var(--background-color));
}

a:hover {
  text-decoration: underline;
}

input,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(var(--main-color));
  border-radius: 5px;
}

textarea {
  max-height: 200px;
  resize: vertical;
}

.flex-align-to-center, .blog-section .cards-section-buttons, .blog-section, form label, #admin-container #element-type-select .element-type-list .element-type, .post-container .comments-section #add-comment-section, .post-container .comments-section, .post-container .post-content-container, .catalog .catalog-grid .column, #thank-you-message-bg #thank-you-message, .about .title-about, .about .stage, #services-container .service, #services-container, .services .title-services, .services .stage, .cards-section .cards-section-buttons, .cards-section, body main .hero, header .icon-wrapper .vertical-nav, .form-container .form-template, .form-container form, #admin-container .form-template, #admin-container form, #filter-container .form-template, #filter-container form, #services-container .form-template, #services-container form, #calculator-container .form-template, #calculator-container form, #theme-container .form-template, #theme-container form, #consultation-container .form-template, #consultation-container form, #auth-container .form-template, #auth-container form, .modal-window-dark-bg-template, #thank-you-message-bg, .burger-instruments-wrapper .open-section-button-container, .burger-instruments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.default-button-template, .modal-window-dark-bg-template i.fa-xmark, #thank-you-message-bg i.fa-xmark, .default-button-light-bg, .blog-section .posts-container .blog-post-card .blog-post-info .blog-post-read-more, .about .title-about #go-to-description, .services .title-services #go-to-description, .cards-section .cars-container .product-card .product-info a, #compare-container .compare-item button, body main .hero a, header .consultation-button-bg button, .burger-instruments-wrapper .open-section-button-template, .burger-instruments-wrapper .open-section-button-container .section-open-button-template, .burger-instruments-wrapper .open-section-button-container #admin-section-open, .burger-instruments-wrapper .open-section-button-container #filter-section-open, .burger-instruments-wrapper .open-section-button-container #compare-section-open, .burger-instruments-wrapper .open-section-button-container #calculator-section-open, .burger-instruments-wrapper .open-section-button-container #theme-section-open, .burger-instruments-wrapper .burger-open-section-container-buttons, .default-button-dark-bg, .blog-section .cards-section-buttons a,
.blog-section .cards-section-buttons button, #admin-container #element-type-select button, .post-container .comments-section #add-comment-section button, .product-container #add-to-compare-button, .product-container .slider-container .slider-button, #services-container a, .cards-section .cards-section-buttons a,
.cards-section .cards-section-buttons button, #theme-container .theme-block container button, .form-container .form-template button, .form-container form button, #admin-container .form-template button, #admin-container form button, #filter-container .form-template button, #filter-container form button, #services-container .form-template button, #services-container form button, #calculator-container .form-template button, #calculator-container form button, #theme-container .form-template button, #theme-container form button, #consultation-container .form-template button, #consultation-container form button, #auth-container .form-template button, #auth-container form button {
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--background-color));
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}
.default-button-template:hover, .modal-window-dark-bg-template i.fa-xmark:hover, #thank-you-message-bg i.fa-xmark:hover, .default-button-light-bg:hover, .blog-section .posts-container .blog-post-card .blog-post-info .blog-post-read-more:hover, .about .title-about #go-to-description:hover, .services .title-services #go-to-description:hover, .cards-section .cars-container .product-card .product-info a:hover, #compare-container .compare-item button:hover, body main .hero a:hover, header .consultation-button-bg button:hover, .burger-instruments-wrapper .open-section-button-template:hover, .burger-instruments-wrapper .open-section-button-container .section-open-button-template:hover, .burger-instruments-wrapper .open-section-button-container #admin-section-open:hover, .burger-instruments-wrapper .open-section-button-container #filter-section-open:hover, .burger-instruments-wrapper .open-section-button-container #compare-section-open:hover, .burger-instruments-wrapper .open-section-button-container #calculator-section-open:hover, .burger-instruments-wrapper .open-section-button-container #theme-section-open:hover, .burger-instruments-wrapper .burger-open-section-container-buttons:hover, .default-button-dark-bg:hover, .blog-section .cards-section-buttons a:hover,
.blog-section .cards-section-buttons button:hover, #admin-container #element-type-select button:hover, .post-container .comments-section #add-comment-section button:hover, .product-container #add-to-compare-button:hover, .product-container .slider-container .slider-button:hover, #services-container a:hover, .cards-section .cards-section-buttons a:hover,
.cards-section .cards-section-buttons button:hover, #theme-container .theme-block container button:hover, .form-container .form-template button:hover, .form-container form button:hover, #admin-container .form-template button:hover, #admin-container form button:hover, #filter-container .form-template button:hover, #filter-container form button:hover, #services-container .form-template button:hover, #services-container form button:hover, #calculator-container .form-template button:hover, #calculator-container form button:hover, #theme-container .form-template button:hover, #theme-container form button:hover, #consultation-container .form-template button:hover, #consultation-container form button:hover, #auth-container .form-template button:hover, #auth-container form button:hover {
  color: rgb(var(--secondary-color));
}

.default-button-dark-bg:hover, .blog-section .cards-section-buttons a:hover,
.blog-section .cards-section-buttons button:hover, #admin-container #element-type-select button:hover, .post-container .comments-section #add-comment-section button:hover, .product-container #add-to-compare-button:hover, .product-container .slider-container .slider-button:hover, #services-container a:hover, .cards-section .cards-section-buttons a:hover,
.cards-section .cards-section-buttons button:hover, #theme-container .theme-block container button:hover, .form-container .form-template button:hover, .form-container form button:hover, #admin-container .form-template button:hover, #admin-container form button:hover, #filter-container .form-template button:hover, #filter-container form button:hover, #services-container .form-template button:hover, #services-container form button:hover, #calculator-container .form-template button:hover, #calculator-container form button:hover, #theme-container .form-template button:hover, #theme-container form button:hover, #consultation-container .form-template button:hover, #consultation-container form button:hover, #auth-container .form-template button:hover, #auth-container form button:hover {
  background-color: rgb(var(--main-color));
}

.default-button-light-bg:hover, .blog-section .posts-container .blog-post-card .blog-post-info .blog-post-read-more:hover, .about .title-about #go-to-description:hover, .services .title-services #go-to-description:hover, .cards-section .cars-container .product-card .product-info a:hover, #compare-container .compare-item button:hover, body main .hero a:hover, header .consultation-button-bg button:hover, .burger-instruments-wrapper .open-section-button-template:hover, .burger-instruments-wrapper .open-section-button-container .section-open-button-template:hover, .burger-instruments-wrapper .open-section-button-container #admin-section-open:hover, .burger-instruments-wrapper .open-section-button-container #filter-section-open:hover, .burger-instruments-wrapper .open-section-button-container #compare-section-open:hover, .burger-instruments-wrapper .open-section-button-container #calculator-section-open:hover, .burger-instruments-wrapper .open-section-button-container #theme-section-open:hover, .burger-instruments-wrapper .burger-open-section-container-buttons:hover {
  background-color: rgb(var(--background-color));
}

.burger-instruments-wrapper {
  position: fixed;
  left: 1%;
  bottom: 1%;
  gap: 10px;
  z-index: 4;
}
.burger-instruments-wrapper:hover .open-section-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger-instruments-wrapper:hover .burger-open-section-container-buttons {
  color: rgb(var(--secondary-color));
  background-color: rgb(var(--background-color));
  border-color: rgb(var(--secondary-color));
}
.burger-instruments-wrapper:hover .burger-open-section-container-buttons i {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.burger-instruments-wrapper .open-section-button-template, .burger-instruments-wrapper .open-section-button-container .section-open-button-template, .burger-instruments-wrapper .open-section-button-container #admin-section-open, .burger-instruments-wrapper .open-section-button-container #filter-section-open, .burger-instruments-wrapper .open-section-button-container #compare-section-open, .burger-instruments-wrapper .open-section-button-container #calculator-section-open, .burger-instruments-wrapper .open-section-button-container #theme-section-open, .burger-instruments-wrapper .burger-open-section-container-buttons {
  font-size: large;
  border: solid 2px rgb(var(--background-color));
  border-radius: 100%;
  width: 55px;
  height: 55px;
}
.burger-instruments-wrapper .open-section-button-template:hover, .burger-instruments-wrapper .open-section-button-container .section-open-button-template:hover, .burger-instruments-wrapper .open-section-button-container #admin-section-open:hover, .burger-instruments-wrapper .open-section-button-container #filter-section-open:hover, .burger-instruments-wrapper .open-section-button-container #compare-section-open:hover, .burger-instruments-wrapper .open-section-button-container #calculator-section-open:hover, .burger-instruments-wrapper .open-section-button-container #theme-section-open:hover, .burger-instruments-wrapper .burger-open-section-container-buttons:hover {
  border-color: rgb(var(--secondary-color));
}
.burger-instruments-wrapper .burger-open-section-container-buttons i {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.burger-instruments-wrapper .open-section-button-container {
  display: none;
  gap: 10px;
  z-index: 4;
}
.burger-instruments-wrapper .open-section-button-container .section-open-button-template, .burger-instruments-wrapper .open-section-button-container #admin-section-open, .burger-instruments-wrapper .open-section-button-container #filter-section-open, .burger-instruments-wrapper .open-section-button-container #compare-section-open, .burger-instruments-wrapper .open-section-button-container #calculator-section-open, .burger-instruments-wrapper .open-section-button-container #theme-section-open {
  width: 50px;
  height: 50px;
}

.modal-window-dark-bg-template, #thank-you-message-bg {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgb(var(--main-color));
  z-index: 5;
}
.modal-window-dark-bg-template i.fa-xmark, #thank-you-message-bg i.fa-xmark {
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px;
  z-index: 1;
}
.modal-window-dark-bg-template i.fa-xmark:hover, #thank-you-message-bg i.fa-xmark:hover {
  background-color: rgb(var(--background-color));
}
.modal-window-dark-bg-template .modal-window-element, #thank-you-message-bg .modal-window-element {
  display: none;
}

.form-container, #admin-container, #filter-container, #services-container, #calculator-container, #theme-container, #consultation-container, #auth-container {
  background-color: rgb(var(--background-color));
  border: 1px solid rgb(var(--main-color));
  border-radius: 5px;
  width: 400px;
  height: auto;
  padding: 20px;
}
.form-container h2, #admin-container h2, #filter-container h2, #services-container h2, #calculator-container h2, #theme-container h2, #consultation-container h2, #auth-container h2 {
  color: rgb(var(--main-color));
  margin-bottom: 20px;
  text-align: center;
}
.form-container p, #admin-container p, #filter-container p, #services-container p, #calculator-container p, #theme-container p, #consultation-container p, #auth-container p {
  text-align: center;
  margin-top: 10px;
  font-size: small;
  opacity: 0.7;
}
.form-container p span, #admin-container p span, #filter-container p span, #services-container p span, #calculator-container p span, #theme-container p span, #consultation-container p span, #auth-container p span {
  color: rgb(var(--secondary-color));
  font-size: larger;
  font-weight: bold;
}
.form-container p a, #admin-container p a, #filter-container p a, #services-container p a, #calculator-container p a, #theme-container p a, #consultation-container p a, #auth-container p a {
  color: rgb(var(--secondary-color));
}
.form-container .form-template, .form-container form, #admin-container .form-template, #admin-container form, #filter-container .form-template, #filter-container form, #services-container .form-template, #services-container form, #calculator-container .form-template, #calculator-container form, #theme-container .form-template, #theme-container form, #consultation-container .form-template, #consultation-container form, #auth-container .form-template, #auth-container form {
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  gap: 15px;
}
.form-container .form-template button, .form-container form button, #admin-container .form-template button, #admin-container form button, #filter-container .form-template button, #filter-container form button, #services-container .form-template button, #services-container form button, #calculator-container .form-template button, #calculator-container form button, #theme-container .form-template button, #theme-container form button, #consultation-container .form-template button, #consultation-container form button, #auth-container .form-template button, #auth-container form button {
  font-weight: bold;
}
.form-container .form-template button:disabled, .form-container form button:disabled, #admin-container .form-template button:disabled, #admin-container form button:disabled, #filter-container .form-template button:disabled, #filter-container form button:disabled, #services-container .form-template button:disabled, #services-container form button:disabled, #calculator-container .form-template button:disabled, #calculator-container form button:disabled, #theme-container .form-template button:disabled, #theme-container form button:disabled, #consultation-container .form-template button:disabled, #consultation-container form button:disabled, #auth-container .form-template button:disabled, #auth-container form button:disabled {
  color: rgba(var(--secondary-color), 0.7);
  background-color: rgba(var(--main-color), 0.7);
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: rgb(var(--main-color));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav a {
  margin: 0 15px;
}
header nav a:hover {
  color: rgb(var(--secondary-color));
}
header .icon-wrapper {
  visibility: hidden;
  position: absolute;
  color: rgb(var(--background-color));
}
header .icon-wrapper .fa-angles-down {
  visibility: hidden;
  position: absolute;
}
header .icon-wrapper .vertical-nav {
  background-color: rgb(var(--main-color));
  visibility: hidden;
  position: absolute;
  gap: 15px;
  padding: 10px;
  margin: 0px -50px;
  border: solid 1px rgb(var(--secondary-color));
}
header .icon-wrapper:hover .fa-angles-up {
  visibility: hidden;
  position: absolute;
}
header .icon-wrapper:hover .fa-angles-down {
  visibility: visible;
  position: relative;
}
header .icon-wrapper:hover .vertical-nav {
  visibility: visible;
}
@media (max-width: 930px) {
  header .horizontal-nav {
    visibility: hidden;
    position: absolute;
  }
  header .icon-wrapper {
    visibility: visible;
    position: relative;
  }
}
header .logo-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header .logo-bg a {
  font-size: 3.5vmax;
  color: rgb(var(--secondary-color));
}
@media (max-width: 545px) {
  header {
    padding: 10px 5px;
  }
}
header .consultation-button-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 545px) {
  header .consultation-button-bg button {
    font-size: 80%;
    padding: 5px;
  }
}
@media (max-width: 340px) {
  header .consultation-button-bg button {
    font-size: 70%;
    padding: 5px;
  }
}

#auth-container #register-box {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--background-color));
}
body main {
  min-height: 100vh;
  /* Стилі для слайдера */
  /* Стилі для переваг */
}
body main .info-message {
  position: fixed;
  bottom: 1%;
  right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  color: rgb(var(--secondary-color));
  background-color: rgb(var(--background-color));
  border-radius: 5px;
  padding: 1% 1.5%;
  gap: 5px;
  opacity: 0;
  z-index: 6;
}
body main .info-message .fa-xmark {
  font-size: 14px;
  color: rgba(var(--main-color), 0.7);
  border-radius: 100%;
  padding: 2px 3px;
}
body main .info-message .fa-xmark:hover {
  background-color: rgba(var(--main-color), 0.1);
}
body main .error-message,
body main .success-message {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
body main .error-message {
  -webkit-box-shadow: 3px 3px 10px red;
          box-shadow: 3px 3px 10px red;
}
body main .success-message {
  -webkit-box-shadow: 3px 3px 10px green;
          box-shadow: 3px 3px 10px green;
}
body main .invisible {
  opacity: 0;
}
body main .hero {
  text-align: center;
  color: rgb(var(--background-color));
  background-image: var(--hero-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  padding: 10%;
}
body main .hero h1 {
  font-size: 48px;
  margin: 0;
}
body main .hero p {
  font-size: 24px;
}
body main .hero a {
  font-size: 18px;
}
body main .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 35px;
  color: rgb(var(--background-color));
  background-color: rgb(var(--main-color));
  border-top: solid 2px rgb(var(--secondary-color));
}
body main .features i {
  font-size: 2em;
}
body main .features .feature {
  text-align: center;
}
@media (max-width: 420px) {
  body main .features {
    padding: 5% 1%;
    font-size: small;
  }
}
@media (max-width: 810px) {
  body main .info-message {
    padding: 1%;
    gap: 0;
  }
}

#theme-container {
  max-height: 95%;
  overflow-y: scroll;
}
#theme-container::-webkit-scrollbar {
  display: none;
}
#theme-container .theme-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#theme-container .theme-block span {
  font-weight: bold;
  font-size: 18px;
}
#theme-container .theme-block container {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#theme-container .theme-block container button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#theme-container .theme-block container .colors {
  width: 50%;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  background-color: rgba(var(--secondary-color), 0.4);
}
#theme-container .theme-block container .colors .general-colors-style, #theme-container .theme-block container .colors background-color, #theme-container .theme-block container .colors secondary-color, #theme-container .theme-block container .colors main-color {
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  border: solid 3px;
}
#theme-container .theme-block container .colors main-color {
  border-color: rgb(var(--background-color));
  color: rgb(var(--background-color));
  background-color: rgb(var(--main-color));
}
#theme-container .theme-block container .colors secondary-color {
  border-color: rgb(var(--main-color));
  color: rgb(var(--main-color));
  background-color: rgb(var(--secondary-color));
}
#theme-container .theme-block container .colors background-color {
  border-color: rgb(var(--secondary-color));
  color: rgb(var(--secondary-color));
  background-color: rgb(var(--background-color));
}

#calculator-container #leasing-box {
  display: none;
}
#calculator-container result {
  width: 100%;
  max-height: 50px;
  display: none;
  overflow-y: scroll;
  text-align: center;
  font-size: smaller;
}

#compare-section-open:hover i {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

#compare-container {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  background-color: rgb(var(--background-color));
  width: 90%;
  border-radius: 5px;
  max-height: 90vh;
  overflow-y: auto;
}
#compare-container .compare-item {
  background-color: rgb(var(--main-color));
  color: rgb(var(--background-color));
  padding: 20px 0;
  text-align: center;
  position: relative;
}
#compare-container .compare-item button {
  font-weight: bold;
  position: absolute;
  right: 1%;
  top: 1%;
}
#compare-container .compare-item #compare-product-title {
  color: rgb(var(--secondary-color));
  font-size: 1.5rem;
  margin-bottom: 15px;
}
#compare-container .compare-item .compare-product-info div {
  padding: 10px 15px;
  text-align: left;
  font-size: 1rem;
  border-bottom: solid 1px rgb(var(--secondary-color));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  #compare-container {
    grid-template-columns: 1fr;
  }
  #compare-container .compare-item {
    padding: 15px 0;
  }
}
@media (max-width: 480px) {
  #compare-container {
    grid-template-columns: 1fr;
  }
  #compare-container .compare-item {
    padding: 10px;
    font-size: 0.9rem;
  }
  #compare-container button {
    font-size: 14px;
    padding: 8px;
  }
  #compare-container .compare-product-info div {
    font-size: 0.8rem;
    padding: 8px;
  }
}
#compare-container .nothing-to-compare-message {
  text-align: center;
  color: rgb(var(--secondary-color));
  font-size: 18px;
}

#compare-container::-webkit-scrollbar {
  display: none;
}

.cards-section {
  width: 100%;
  gap: 35px;
}
.cards-section .cards-section-buttons a,
.cards-section .cards-section-buttons button {
  margin-bottom: 35px;
}
.cards-section .cards-section-buttons a {
  margin: 35px;
  display: none;
}
.cards-section .cars-container {
  width: 100%;
  padding: 3%;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.cards-section .cars-container .product-card {
  background-color: rgb(var(--main-color));
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 320px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards-section .cars-container .product-card:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 340px) {
  .cards-section .cars-container .product-card:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.cards-section .cars-container .product-card .product-image-container {
  position: relative;
  width: 100%;
}
.cards-section .cars-container .product-card .product-image-container:hover .compare-btn {
  opacity: 1;
}
.cards-section .cars-container .product-card .product-image-container .product-image {
  width: 100%;
  height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid rgb(var(--secondary-color));
}
.cards-section .cars-container .product-card .product-image-container .compare-btn {
  position: absolute;
  left: 2%;
  bottom: 5%;
  padding: 10px 15px;
  background-color: rgb(var(--secondary-color));
  border-radius: 5px;
  color: rgb(var(--background-color));
  border: none;
  opacity: 0;
  font-size: 14px;
}
.cards-section .cars-container .product-card .product-image-container .compare-btn:hover {
  color: rgb(var(--secondary-color));
  background-color: rgb(var(--background-color));
}
.cards-section .cars-container .product-card .product-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 10px;
  width: 100%;
  color: rgb(var(--background-color));
  font-size: 14px;
}
.cards-section .cars-container .product-card .product-info .product-title {
  font-size: 16px;
  font-weight: bold;
}
.cards-section .cars-container .product-card .product-info .product-description {
  opacity: 0.8;
}
.cards-section .cars-container .product-card .product-info .product-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.cards-section .cars-container .product-card .product-info .product-features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.cards-section .cars-container .product-card .product-info .product-features .feature .icon {
  font-size: 16px;
}
.cards-section .cars-container .product-card .product-info .product-price {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}
.cards-section .cars-container .product-card .product-info a .fa-arrow-up-right-from-square {
  font-size: small;
}
.cards-section .cars-container .product-card .product-info .product-footer {
  font-size: 12px;
  color: rgb(var(--background-color));
  text-align: center;
  margin-top: 10px;
  opacity: 0.7;
}

.services {
  padding: 40px;
  background-color: rgb(var(--background-color));
  color: rgb(var(--main-color));
  text-align: center;
}
.services h2 {
  font-size: 36px;
}
.services h3 {
  font-size: 25px;
}
.services p {
  font-size: 18px;
  line-height: 2;
  margin: 0 auto;
  max-width: 850px;
}
.services .stage {
  margin-bottom: 40px;
}
.services .stage .stage-number {
  font-size: 75px;
  color: rgba(var(--main-color), 0.25);
}
.services .stage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 0;
  margin: 15px;
  width: 70%;
  font-size: 1.3rem;
  color: rgb(var(--secondary-color));
  list-style-type: none;
}
.services .stage ul li {
  line-height: 2;
  font-size: 1rem;
}
@media (max-width: 1000px) {
  .services .stage ul {
    width: 90%;
  }
}
.services .stage .image-container {
  position: relative;
  width: 55%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.services .stage .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px rgb(var(--secondary-color));
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .services .stage .image-container {
    width: 80%;
  }
}
.services .title-services {
  height: 90vh;
}
.services .title-services h1 {
  font-size: 48px;
  margin: 0;
}
.services .title-services p {
  font-size: 24px;
  margin: 10px 0;
}
.services .title-services #go-to-description {
  font-size: 40px;
  border: solid 2px rgb(var(--background-color));
  border-radius: 100%;
  width: 64px;
  height: 64px;
  margin-top: 10%;
}
.services .title-services #go-to-description:hover {
  border-color: rgb(var(--secondary-color));
}

#services-container {
  gap: 25px;
}
#services-container .service {
  width: 100%;
  padding: 15px;
  border-bottom: solid 1px rgb(var(--secondary-color));
}
#services-container .service:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
#services-container .service h2 {
  margin: 10px;
  line-height: 0;
}
@media (max-width: 340px) {
  #services-container h2 {
    font-size: 22px;
  }
}
#services-container a i {
  font-size: small;
}

footer {
  background-color: rgb(var(--main-color));
  color: rgb(var(--background-color));
  padding: 20px;
  text-align: center;
  width: 100%;
}
footer a {
  color: rgb(var(--secondary-color));
  text-decoration: none;
}
footer a:hover {
  color: rgb(var(--background-color));
}

.about {
  padding: 40px;
  color: rgb(var(--main-color));
  background-color: rgb(var(--background-color));
  text-align: center;
}
.about h2 {
  font-size: 36px;
}
.about h3 {
  font-size: 25px;
}
.about p {
  font-size: 18px;
  line-height: 2;
  margin: 0 auto;
  max-width: 850px;
}
.about .stage {
  margin-bottom: 40px;
}
.about .stage .stage-number {
  font-size: 75px;
  color: rgba(var(--main-color), 0.25);
}
.about .stage .image-container {
  position: relative;
  width: 55%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.about .stage .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px rgb(var(--secondary-color));
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .about .stage .image-container {
    width: 80%;
  }
}
.about .title-about {
  height: 90vh;
}
.about .title-about h1 {
  font-size: 48px;
  margin: 0;
}
.about .title-about p {
  font-size: 24px;
  margin: 10px 0;
}
.about .title-about #go-to-description {
  font-size: 40px;
  border: solid 2px rgb(var(--background-color));
  border-radius: 100%;
  width: 64px;
  height: 64px;
  margin-top: 10%;
}
.about .title-about #go-to-description:hover {
  border-color: rgb(var(--secondary-color));
}

#car {
  height: 80px;
  position: absolute;
  scale: -1 1;
  right: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

#thank-you-message-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  background-color: rgba(var(--main-color), 0.8);
  text-align: center;
}
#thank-you-message-bg #thank-you-message {
  background-color: rgb(var(--main-color));
  width: 40%;
  height: 30%;
  padding: 10px;
  gap: 20px;
  border-radius: 5px;
  opacity: 0;
}
#thank-you-message-bg #thank-you-message img {
  width: 80%;
}
#thank-you-message-bg #thank-you-message h3 {
  font-size: 1.5em;
  color: rgb(var(--background-color));
}
@media (max-width: 1000px) {
  #thank-you-message-bg #thank-you-message {
    width: 85%;
  }
}

#filter-container {
  max-height: 95%;
  overflow-y: scroll;
}
#filter-container::-webkit-scrollbar {
  display: none;
}
datalist {
  background-color: antiquewhite;
}
datalist option {
  background-color: beige;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog .catalog-grid {
  width: 60%;
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  gap: 20px;
  color: rgb(var(--main-color));
}
.catalog .catalog-grid .column {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  border-left: solid 1px rgb(var(--secondary-color));
  border-right: solid 1px rgb(var(--secondary-color));
}
.catalog .catalog-grid .column list-title {
  font-size: 18px;
  font-weight: bold;
}
.catalog .catalog-grid .column div {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.catalog .catalog-grid .column div a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(var(--main-color));
}
.catalog .catalog-grid .column div a:hover {
  color: rgb(var(--secondary-color));
}

main.product-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(var(--background-color));
  padding: 35px 0;
  gap: 35px;
  width: 60%;
}
.product-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-container #product-name-year {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: rgb(var(--main-color));
  text-align: center;
}
.product-container #product-price {
  font-size: 24px;
  margin: 5px 0;
  color: rgb(var(--secondary-color));
}
.product-container .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(var(--background-color));
  font-size: 15px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  position: relative;
  overflow: hidden;
  border: solid 1px rgb(var(--secondary-color));
}
.product-container .slider-container .image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.product-container .slider-container .image-container #product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-container .slider-container .slider-button {
  border-radius: 100%;
  width: 39px;
  height: 39px;
  position: absolute;
  z-index: 1;
}
.product-container .slider-container #slider-prev {
  left: 1%;
}
.product-container .slider-container #slider-next {
  right: 1%;
}
.product-container .slider-container #page-tracker {
  background-color: rgb(var(--secondary-color));
  position: absolute;
  bottom: 3%;
  padding: 10px 15px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product-container .product-info {
  background-color: rgb(var(--main-color));
  padding: 20px;
  border-radius: 0 0 5px 5px;
  width: 100%;
}
.product-container .product-info p {
  color: rgb(var(--background-color));
  text-align: center;
}
.product-container .product-info table {
  color: rgb(var(--background-color));
  width: 100%;
  border-collapse: collapse;
}
.product-container .product-info table tr {
  border-bottom: solid 1px rgb(var(--secondary-color));
}
.product-container .product-info table td {
  padding: 10px;
  border-bottom: 1px solid rgb(var(--secondary-color));
  text-align: left;
}
.product-container .product-info table td strong {
  color: rgb(var(--secondary-color));
}
.product-container h1#product-characteristics-title {
  margin-bottom: 15px;
  font-size: 24px;
  color: rgb(var(--main-color));
  text-align: center;
}
.viewed-img {
  max-height: 95%;
  max-width: 95%;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 450px) {
  .product-container {
    width: 100%;
  }
  .product-container .slider-button,
  .product-container #page-tracker {
    font-size: 12px;
    padding: 5px 8px;
  }
}
.post-container {
  padding: 40px;
  color: rgb(var(--main-color));
  background-color: rgb(var(--background-color));
}
.post-container .post-content-container {
  text-align: center;
  gap: 10px;
}
.post-container .post-content-container h1 {
  font-size: 2rem;
}
.post-container .post-content-container h2 {
  font-size: 36px;
}
.post-container .post-content-container h3 {
  font-size: 25px;
}
.post-container .post-content-container p {
  position: relative;
  font-size: 18px;
  line-height: 2;
  margin: 0 auto 40px auto;
  max-width: 850px;
}
.post-container .post-content-container p .link-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: small;
  color: rgb(var(--background-color));
  background-color: rgb(var(--secondary-color));
  border-radius: 5px;
  padding: 0px 5px;
  position: relative;
  top: 3px;
}
.post-container .post-content-container p .link-box:hover {
  color: rgb(var(--secondary-color));
  background-color: rgb(var(--main-color));
}
.post-container .post-content-container p .link-box img {
  padding: 1px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.post-container .post-content-container .image-container {
  position: relative;
  width: 55%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.post-container .post-content-container .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 1px rgb(var(--secondary-color));
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .post-container .post-content-container .image-container {
    width: 80%;
  }
}
.post-container .comments-section {
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  height: 500px;
  gap: 15px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--secondary-color)) rgb(var(--main-color));
}
.post-container .comments-section::-webkit-scrollbar-button, .post-container .comments-section::-webkit-scrollbar-button:single-button, .post-container .comments-section::-webkit-scrollbar-button:double-button {
  display: none;
  /* Скрываем кнопки */
}
.post-container .comments-section h2 {
  margin: 0;
}
@media (max-width: 480px) {
  .post-container .comments-section #add-comment-section,
  .post-container .comments-section .comment {
    max-width: 100%;
  }
}
.post-container .comments-section #add-comment-section {
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  gap: 15px;
  width: 500px;
}
.post-container .comments-section #add-comment-section textarea {
  height: 150px;
}
.post-container .comments-section .comment {
  width: 500px;
  padding: 10px;
}
.post-container .comments-section .comment .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-container .comments-section .comment .comment-header .commentator-name {
  font-weight: 700;
}
.post-container .comments-section .comment .comment-header .comment-publication-date,
.post-container .comments-section .comment .comment-header .commentator-role {
  font-size: smaller;
  color: rgba(var(--main-color), 0.7);
}
.post-container .comments-section .comment .comment-header .admin-role {
  font-size: smaller;
  color: rgba(var(--secondary-color), 0.7);
}
.post-container .comments-section .comment .comment-text {
  padding: 10px;
  text-align: center;
  margin: 0;
}

#admin-container {
  max-height: 95%;
  overflow-y: scroll;
}
#admin-container::-webkit-scrollbar {
  display: none;
}
#admin-container #element-type-select {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  background-color: rgb(var(--background-color));
  border-radius: 5px;
  padding: 15px;
  font-size: smaller;
  z-index: 1;
}
#admin-container #element-type-select .element-type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
#admin-container #element-type-select .element-type-list .element-type {
  color: rgb(var(--background-color));
  background-color: rgb(var(--secondary-color));
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 90px;
  text-align: center;
  cursor: pointer;
}
#admin-container #element-type-select .element-type-list .element-type:hover {
  color: rgb(var(--secondary-color));
  background-color: rgb(var(--main-color));
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

form {
  position: relative;
}
form label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  cursor: pointer;
}
form label input[type=checkbox] {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
}
form label input[type=checkbox]:checked + .checkbox-button {
  background-color: rgb(var(--background-color));
  color: rgb(var(--main-color));
}
form label input[type=checkbox]:checked + .checkbox-button::before {
  background-color: rgb(var(--secondary-color));
}
form label .checkbox-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}
form label .checkbox-button::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin-right: 10px;
  border: solid 1px rgb(var(--main-color));
}

.delete-button-active {
  color: rgb(var(--secondary-color)) !important;
  background-color: rgb(var(--main-color)) !important;
}

.delete-mode {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>'), auto;
}

.blog-section {
  width: 100%;
  gap: 35px;
}
.blog-section .cards-section-buttons a,
.blog-section .cards-section-buttons button {
  margin-bottom: 35px;
}
.blog-section .cards-section-buttons a {
  margin: 35px;
  display: none;
}
.blog-section .posts-container {
  width: 100%;
  padding: 3%;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.blog-section .posts-container .blog-post-card {
  background-color: rgb(var(--main-color));
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 320px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-section .posts-container .blog-post-card:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
@media (max-width: 340px) {
  .blog-section .posts-container .blog-post-card:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.blog-section .posts-container .blog-post-card .blog-post-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 10px;
  width: 100%;
  color: rgb(var(--background-color));
  font-size: 14px;
}
.blog-section .posts-container .blog-post-card .blog-post-info .blog-post-title {
  font-size: 16px;
  font-weight: bold;
}
.blog-section .posts-container .blog-post-card .blog-post-info .blog-post-date {
  opacity: 0.8;
}
.blog-section .posts-container .blog-post-card .blog-post-info .blog-post-read-more .fa-arrow-up-right-from-square {
  font-size: small;
}