@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.flex-align-to-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: normal;
      align-content: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-button-template, .modal-window-dark-bg-template i.fa-xmark, #thank-you-message-bg i.fa-xmark, .default-button-light-bg, .about .title-about #go-to-description, #cards-section .cars .product-card .product-info a, #compare-container .compare-item button, body main .hero a, header .consultation-button-bg button, .burger-instruments-wrapper .open-section-button-template, .burger-instruments-wrapper .open-section-button-container .section-open-button-template, .burger-instruments-wrapper .open-section-button-container #compare-section-open, .burger-instruments-wrapper .open-section-button-container #calculator-section-open, .burger-instruments-wrapper .burger-open-section-container-buttons, .default-button-dark-bg, .product-container #add-to-compare-button, .product-container .slider-container .slider-button, #cards-section .load-more-cars-buttons a,
#cards-section .load-more-cars-buttons button, .modal-window-dark-bg-template .form-container .form-template button, #thank-you-message-bg .form-container .form-template button, #calculator-container .modal-window-dark-bg-template .form-container form button, #calculator-container #thank-you-message-bg .form-container form button, .modal-window-dark-bg-template #calculator-container .form-template button, #thank-you-message-bg #calculator-container .form-template button, .modal-window-dark-bg-template #calculator-container form button, #thank-you-message-bg #calculator-container form button, #consultation-container .modal-window-dark-bg-template .form-container form button, #consultation-container #thank-you-message-bg .form-container form button, .modal-window-dark-bg-template #consultation-container .form-template button, #thank-you-message-bg #consultation-container .form-template button, .modal-window-dark-bg-template #consultation-container form button, #thank-you-message-bg #consultation-container form button, #auth-container .modal-window-dark-bg-template .form-container form button, #auth-container #thank-you-message-bg .form-container form button, .modal-window-dark-bg-template #auth-container .form-template button, #thank-you-message-bg #auth-container .form-template button, .modal-window-dark-bg-template #auth-container form button, #thank-you-message-bg #auth-container form button {
  background-color: #f60;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  -webkit-transition: color 0.4s, background-color 0.4s;
  transition: color 0.4s, background-color 0.4s;
}
.default-button-template:hover, .modal-window-dark-bg-template i.fa-xmark:hover, #thank-you-message-bg i.fa-xmark:hover, .default-button-light-bg:hover, .about .title-about #go-to-description:hover, #cards-section .cars .product-card .product-info a:hover, #compare-container .compare-item button:hover, body main .hero a:hover, header .consultation-button-bg button:hover, .burger-instruments-wrapper .open-section-button-template:hover, .burger-instruments-wrapper .open-section-button-container .section-open-button-template:hover, .burger-instruments-wrapper .open-section-button-container #compare-section-open:hover, .burger-instruments-wrapper .open-section-button-container #calculator-section-open:hover, .burger-instruments-wrapper .burger-open-section-container-buttons:hover, .default-button-dark-bg:hover, .product-container #add-to-compare-button:hover, .product-container .slider-container .slider-button:hover, #cards-section .load-more-cars-buttons a:hover,
#cards-section .load-more-cars-buttons button:hover, .modal-window-dark-bg-template .form-container .form-template button:hover, #thank-you-message-bg .form-container .form-template button:hover, #calculator-container .modal-window-dark-bg-template .form-container form button:hover, #calculator-container #thank-you-message-bg .form-container form button:hover, .modal-window-dark-bg-template #calculator-container .form-template button:hover, #thank-you-message-bg #calculator-container .form-template button:hover, .modal-window-dark-bg-template #calculator-container form button:hover, #thank-you-message-bg #calculator-container form button:hover, #consultation-container .modal-window-dark-bg-template .form-container form button:hover, #consultation-container #thank-you-message-bg .form-container form button:hover, .modal-window-dark-bg-template #consultation-container .form-template button:hover, #thank-you-message-bg #consultation-container .form-template button:hover, .modal-window-dark-bg-template #consultation-container form button:hover, #thank-you-message-bg #consultation-container form button:hover, #auth-container .modal-window-dark-bg-template .form-container form button:hover, #auth-container #thank-you-message-bg .form-container form button:hover, .modal-window-dark-bg-template #auth-container .form-template button:hover, #thank-you-message-bg #auth-container .form-template button:hover, .modal-window-dark-bg-template #auth-container form button:hover, #thank-you-message-bg #auth-container form button:hover {
  color: #f60;
}

.default-button-dark-bg:hover, .product-container #add-to-compare-button:hover, .product-container .slider-container .slider-button:hover, #cards-section .load-more-cars-buttons a:hover,
#cards-section .load-more-cars-buttons button:hover, .modal-window-dark-bg-template .form-container .form-template button:hover, #thank-you-message-bg .form-container .form-template button:hover, #calculator-container .modal-window-dark-bg-template .form-container form button:hover, #calculator-container #thank-you-message-bg .form-container form button:hover, .modal-window-dark-bg-template #calculator-container .form-template button:hover, #thank-you-message-bg #calculator-container .form-template button:hover, .modal-window-dark-bg-template #calculator-container form button:hover, #thank-you-message-bg #calculator-container form button:hover, #consultation-container .modal-window-dark-bg-template .form-container form button:hover, #consultation-container #thank-you-message-bg .form-container form button:hover, .modal-window-dark-bg-template #consultation-container .form-template button:hover, #thank-you-message-bg #consultation-container .form-template button:hover, .modal-window-dark-bg-template #consultation-container form button:hover, #thank-you-message-bg #consultation-container form button:hover, #auth-container .modal-window-dark-bg-template .form-container form button:hover, #auth-container #thank-you-message-bg .form-container form button:hover, .modal-window-dark-bg-template #auth-container .form-template button:hover, #thank-you-message-bg #auth-container .form-template button:hover, .modal-window-dark-bg-template #auth-container form button:hover, #thank-you-message-bg #auth-container form button:hover {
  background-color: #333;
}

.default-button-light-bg:hover, .about .title-about #go-to-description:hover, #cards-section .cars .product-card .product-info a:hover, #compare-container .compare-item button:hover, body main .hero a:hover, header .consultation-button-bg button:hover, .burger-instruments-wrapper .open-section-button-template:hover, .burger-instruments-wrapper .open-section-button-container .section-open-button-template:hover, .burger-instruments-wrapper .open-section-button-container #compare-section-open:hover, .burger-instruments-wrapper .open-section-button-container #calculator-section-open:hover, .burger-instruments-wrapper .burger-open-section-container-buttons:hover {
  background-color: #fff;
}

.burger-instruments-wrapper {
  position: fixed;
  left: 1%;
  bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  z-index: 4;
}
.burger-instruments-wrapper:hover .open-section-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.burger-instruments-wrapper:hover .burger-open-section-container-buttons {
  color: #f60;
  background-color: #fff;
  border-color: #f60;
}
.burger-instruments-wrapper:hover .burger-open-section-container-buttons .fa-bars {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.burger-instruments-wrapper .fa-bars {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.burger-instruments-wrapper .open-section-button-template, .burger-instruments-wrapper .open-section-button-container .section-open-button-template, .burger-instruments-wrapper .open-section-button-container #compare-section-open, .burger-instruments-wrapper .open-section-button-container #calculator-section-open, .burger-instruments-wrapper .burger-open-section-container-buttons {
  font-size: large;
  border: solid 2px #fff;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
}
.burger-instruments-wrapper .open-section-button-template:hover, .burger-instruments-wrapper .open-section-button-container .section-open-button-template:hover, .burger-instruments-wrapper .open-section-button-container #compare-section-open:hover, .burger-instruments-wrapper .open-section-button-container #calculator-section-open:hover, .burger-instruments-wrapper .burger-open-section-container-buttons:hover {
  border-color: #f60;
}
.burger-instruments-wrapper .open-section-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  z-index: 4;
  display: none;
}
.burger-instruments-wrapper .open-section-button-container .section-open-button-template, .burger-instruments-wrapper .open-section-button-container #compare-section-open, .burger-instruments-wrapper .open-section-button-container #calculator-section-open {
  width: 50px;
  height: 50px;
}

.modal-window-dark-bg-template, #thank-you-message-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 5;
}
.modal-window-dark-bg-template i.fa-xmark, #thank-you-message-bg i.fa-xmark {
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px;
  z-index: 1;
}
.modal-window-dark-bg-template i.fa-xmark:hover, #thank-you-message-bg i.fa-xmark:hover {
  background-color: #fff;
}
.modal-window-dark-bg-template .modal-window-element, #thank-you-message-bg .modal-window-element {
  display: none;
}
.modal-window-dark-bg-template .form-container, #thank-you-message-bg .form-container, .modal-window-dark-bg-template #calculator-container, #thank-you-message-bg #calculator-container, .modal-window-dark-bg-template #consultation-container, #thank-you-message-bg #consultation-container, .modal-window-dark-bg-template #auth-container, #thank-you-message-bg #auth-container {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  width: 400px;
  height: auto;
  padding: 20px;
}
.modal-window-dark-bg-template .form-container h2, #thank-you-message-bg .form-container h2, .modal-window-dark-bg-template #calculator-container h2, #thank-you-message-bg #calculator-container h2, .modal-window-dark-bg-template #consultation-container h2, #thank-you-message-bg #consultation-container h2, .modal-window-dark-bg-template #auth-container h2, #thank-you-message-bg #auth-container h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.modal-window-dark-bg-template .form-container p, #thank-you-message-bg .form-container p, .modal-window-dark-bg-template #calculator-container p, #thank-you-message-bg #calculator-container p, .modal-window-dark-bg-template #consultation-container p, #thank-you-message-bg #consultation-container p, .modal-window-dark-bg-template #auth-container p, #thank-you-message-bg #auth-container p {
  text-align: center;
  margin-top: 10px;
  font-size: small;
  opacity: 0.7;
}
.modal-window-dark-bg-template .form-container p span, #thank-you-message-bg .form-container p span, .modal-window-dark-bg-template #calculator-container p span, #thank-you-message-bg #calculator-container p span, .modal-window-dark-bg-template #consultation-container p span, #thank-you-message-bg #consultation-container p span, .modal-window-dark-bg-template #auth-container p span, #thank-you-message-bg #auth-container p span {
  color: #f60;
  font-size: larger;
  font-weight: bold;
}
.modal-window-dark-bg-template .form-container p a, #thank-you-message-bg .form-container p a, .modal-window-dark-bg-template #calculator-container p a, #thank-you-message-bg #calculator-container p a, .modal-window-dark-bg-template #consultation-container p a, #thank-you-message-bg #consultation-container p a, .modal-window-dark-bg-template #auth-container p a, #thank-you-message-bg #auth-container p a {
  color: #f60;
  text-decoration: none;
}
.modal-window-dark-bg-template .form-container p a:hover, #thank-you-message-bg .form-container p a:hover, .modal-window-dark-bg-template #calculator-container p a:hover, #thank-you-message-bg #calculator-container p a:hover, .modal-window-dark-bg-template #consultation-container p a:hover, #thank-you-message-bg #consultation-container p a:hover, .modal-window-dark-bg-template #auth-container p a:hover, #thank-you-message-bg #auth-container p a:hover {
  text-decoration: underline;
}
.modal-window-dark-bg-template .form-container .form-template, #thank-you-message-bg .form-container .form-template, #calculator-container .modal-window-dark-bg-template .form-container form, #calculator-container #thank-you-message-bg .form-container form, .modal-window-dark-bg-template #calculator-container .form-template, #thank-you-message-bg #calculator-container .form-template, .modal-window-dark-bg-template #calculator-container form, #thank-you-message-bg #calculator-container form, #consultation-container .modal-window-dark-bg-template .form-container form, #consultation-container #thank-you-message-bg .form-container form, .modal-window-dark-bg-template #consultation-container .form-template, #thank-you-message-bg #consultation-container .form-template, .modal-window-dark-bg-template #consultation-container form, #thank-you-message-bg #consultation-container form, #auth-container .modal-window-dark-bg-template .form-container form, #auth-container #thank-you-message-bg .form-container form, .modal-window-dark-bg-template #auth-container .form-template, #thank-you-message-bg #auth-container .form-template, .modal-window-dark-bg-template #auth-container form, #thank-you-message-bg #auth-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.modal-window-dark-bg-template .form-container .form-template input, #thank-you-message-bg .form-container .form-template input, #calculator-container .modal-window-dark-bg-template .form-container form input, #calculator-container #thank-you-message-bg .form-container form input, .modal-window-dark-bg-template #calculator-container .form-template input, #thank-you-message-bg #calculator-container .form-template input, .modal-window-dark-bg-template #calculator-container form input, #thank-you-message-bg #calculator-container form input, #consultation-container .modal-window-dark-bg-template .form-container form input, #consultation-container #thank-you-message-bg .form-container form input, .modal-window-dark-bg-template #consultation-container .form-template input, #thank-you-message-bg #consultation-container .form-template input, .modal-window-dark-bg-template #consultation-container form input, #thank-you-message-bg #consultation-container form input, #auth-container .modal-window-dark-bg-template .form-container form input, #auth-container #thank-you-message-bg .form-container form input, .modal-window-dark-bg-template #auth-container .form-template input, #thank-you-message-bg #auth-container .form-template input, .modal-window-dark-bg-template #auth-container form input, #thank-you-message-bg #auth-container form input,
.modal-window-dark-bg-template .form-container .form-template select,
#thank-you-message-bg .form-container .form-template select,
#calculator-container .modal-window-dark-bg-template .form-container form select,
#calculator-container #thank-you-message-bg .form-container form select,
.modal-window-dark-bg-template #calculator-container .form-template select,
#thank-you-message-bg #calculator-container .form-template select,
.modal-window-dark-bg-template #calculator-container form select,
#thank-you-message-bg #calculator-container form select,
#consultation-container .modal-window-dark-bg-template .form-container form select,
#consultation-container #thank-you-message-bg .form-container form select,
.modal-window-dark-bg-template #consultation-container .form-template select,
#thank-you-message-bg #consultation-container .form-template select,
.modal-window-dark-bg-template #consultation-container form select,
#thank-you-message-bg #consultation-container form select,
#auth-container .modal-window-dark-bg-template .form-container form select,
#auth-container #thank-you-message-bg .form-container form select,
.modal-window-dark-bg-template #auth-container .form-template select,
#thank-you-message-bg #auth-container .form-template select,
.modal-window-dark-bg-template #auth-container form select,
#thank-you-message-bg #auth-container form select {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}
.modal-window-dark-bg-template .form-container .form-template button, #thank-you-message-bg .form-container .form-template button, #calculator-container .modal-window-dark-bg-template .form-container form button, #calculator-container #thank-you-message-bg .form-container form button, .modal-window-dark-bg-template #calculator-container .form-template button, #thank-you-message-bg #calculator-container .form-template button, .modal-window-dark-bg-template #calculator-container form button, #thank-you-message-bg #calculator-container form button, #consultation-container .modal-window-dark-bg-template .form-container form button, #consultation-container #thank-you-message-bg .form-container form button, .modal-window-dark-bg-template #consultation-container .form-template button, #thank-you-message-bg #consultation-container .form-template button, .modal-window-dark-bg-template #consultation-container form button, #thank-you-message-bg #consultation-container form button, #auth-container .modal-window-dark-bg-template .form-container form button, #auth-container #thank-you-message-bg .form-container form button, .modal-window-dark-bg-template #auth-container .form-template button, #thank-you-message-bg #auth-container .form-template button, .modal-window-dark-bg-template #auth-container form button, #thank-you-message-bg #auth-container form button {
  font-weight: bold;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #262626;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav a {
  margin: 0 15px;
}
header nav a:hover {
  color: #f60;
  text-decoration: underline;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
header .icon-wrapper {
  visibility: hidden;
  position: absolute;
  color: #fff;
}
header .icon-wrapper .fa-angles-down {
  visibility: hidden;
  position: absolute;
}
header .icon-wrapper .vertical-nav {
  background-color: #333;
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 0px -50px;
  border: solid 1px black;
}
header .icon-wrapper:hover .fa-angles-up {
  visibility: hidden;
  position: absolute;
}
header .icon-wrapper:hover .fa-angles-down {
  visibility: visible;
  position: relative;
}
header .icon-wrapper:hover .vertical-nav {
  visibility: visible;
}
@media (max-width: 930px) {
  header .horizontal-nav {
    visibility: hidden;
    position: absolute;
  }
  header .icon-wrapper {
    visibility: visible;
    position: relative;
  }
}
header .logo {
  width: 81%;
}
header .logo img {
  width: 100%;
}
@media (max-width: 545px) {
  header .consultation-button-bg button {
    font-size: 80%;
    padding: 5px;
  }
}
@media (max-width: 545px) {
  header {
    padding: 10px 5px;
  }
}
header .consultation-button-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 545px) {
  header .consultation-button-bg button {
    font-size: 80%;
    padding: 5px;
  }
}
@media (max-width: 340px) {
  header .consultation-button-bg button {
    font-size: 70%;
    padding: 5px;
  }
}

#auth-container #register-box {
  display: none;
}
body {
  margin: 0;
  padding: 0;
}
body main {
  min-height: 100vh;
  /* Стилі для слайдера */
  /* Стилі для переваг */
}
body main .info-message {
  position: fixed;
  bottom: 3%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  color: #f60;
  background-color: #fff;
  border-radius: 5px;
  padding: 1% 1.5%;
  gap: 5px;
  opacity: 0;
  z-index: 6;
}
body main .info-message .fa-xmark {
  font-size: 14px;
  color: gray;
  border-radius: 100%;
  padding: 2px 3px;
}
body main .info-message .fa-xmark:hover {
  background-color: #e6e6e6;
}
body main .error-message,
body main .success-message {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
body main .error-message {
  -webkit-box-shadow: 3px 3px 10px red;
          box-shadow: 3px 3px 10px red;
}
body main .success-message {
  -webkit-box-shadow: 3px 3px 10px green;
          box-shadow: 3px 3px 10px green;
}
body main .invisible {
  opacity: 0;
}
body main .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  background-image: url("/src/images/car_pink.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  padding: 10%;
}
body main .hero h1 {
  font-size: 48px;
  margin: 0;
}
body main .hero p {
  font-size: 24px;
}
body main .hero a {
  font-size: 18px;
}
body main .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 35px;
  color: #fff;
  background-color: #333;
}
body main .features i {
  font-size: 2em;
}
body main .features .feature {
  text-align: center;
}
@media (max-width: 420px) {
  body main .features {
    padding: 5% 1%;
    font-size: small;
  }
}
@media (max-width: 810px) {
  body main .info-message {
    padding: 1%;
    gap: 0;
  }
}

#calculator-container #leasing-box {
  display: none;
}
#compare-section-open:hover .fa-scale-unbalanced {
  display: none;
}
#compare-section-open:hover .fa-scale-unbalanced-flip {
  display: inline;
}
#compare-section-open .fa-scale-unbalanced-flip {
  display: none;
}

#compare-container {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  background-color: #fff;
  width: 90%;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
}
#compare-container .compare-item {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  position: relative;
}
#compare-container .compare-item button {
  font-weight: bold;
  position: absolute;
  right: 1%;
  top: 1%;
}
#compare-container .compare-item #compare-product-title {
  color: #f60;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
#compare-container .compare-item .compare-product-info div {
  padding: 10px 15px;
  text-align: left;
  font-size: 1rem;
  border-bottom: solid 1px #f60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  #compare-container {
    grid-template-columns: 1fr;
  }
  #compare-container .compare-item {
    padding: 15px 0;
  }
}
@media (max-width: 480px) {
  #compare-container {
    grid-template-columns: 1fr;
  }
  #compare-container .compare-item {
    padding: 10px;
    font-size: 0.9rem;
  }
  #compare-container button {
    font-size: 14px;
    padding: 8px;
  }
  #compare-container .compare-product-info div {
    font-size: 0.8rem;
    padding: 8px;
  }
}
#compare-container .nothing-to-compare-message {
  text-align: center;
  color: #f60;
  font-size: 18px;
}

#compare-container::-webkit-scrollbar {
  display: none;
}

/* Стилі для популярних моделей */
#cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 35px;
}
#cards-section .cars {
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}
#cards-section .cars .product-card {
  background-color: #333;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 320px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#cards-section .cars .product-card:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
#cards-section .cars .product-card .product-image-container {
  position: relative;
  width: 100%;
}
#cards-section .cars .product-card .product-image-container .product-image {
  width: 100%;
  height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #f60;
}
#cards-section .cars .product-card .product-image-container .compare-btn {
  position: absolute;
  left: 2%;
  bottom: 5%;
  padding: 10px 15px;
  background-color: #f60;
  border-radius: 5px;
  color: white;
  border: none;
  opacity: 0;
  -webkit-transition: all 0.6s, opacity 0.3s;
  transition: all 0.6s, opacity 0.3s;
  font-size: 14px;
}
#cards-section .cars .product-card .product-image-container .compare-btn:hover {
  color: #f60;
  background-color: #fff;
}
#cards-section .cars .product-card .product-image-container:hover .compare-btn {
  opacity: 1;
}
#cards-section .cars .product-card .product-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}
#cards-section .cars .product-card .product-info .product-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
#cards-section .cars .product-card .product-info .product-description {
  font-size: 14px;
  color: #fff;
  opacity: 0.8;
}
#cards-section .cars .product-card .product-info .product-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#cards-section .cars .product-card .product-info .product-features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
#cards-section .cars .product-card .product-info .product-features .feature .icon {
  font-size: 16px;
}
#cards-section .cars .product-card .product-info .product-price {
  font-size: 16px;
  font-weight: bold;
  color: #f60;
  margin: 10px;
}
#cards-section .cars .product-card .product-info a .fa-arrow-up-right-from-square {
  font-size: small;
}
#cards-section .cars .product-card .product-info .product-footer {
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  opacity: 0.7;
}
@media (max-width: 340px) {
  #cards-section .cars .product-card:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media (max-width: 400px) {
  #cards-section .cars {
    padding: 3%;
  }
}
#cards-section .load-more-cars-buttons {
  margin: 15px;
}
#cards-section .load-more-cars-buttons a {
  display: none;
}

footer {
  background-color: #262626;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}
footer a {
  color: #f60;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: white;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.about {
  padding: 40px;
  background-color: #fff;
  color: #333;
  text-align: center;
}
.about h2 {
  font-size: 36px;
}
.about h3 {
  font-size: 25px;
}
.about p {
  font-size: 18px;
  line-height: 2;
  margin: 0 auto;
  max-width: 850px;
}
.about .stage {
  margin-bottom: 40px;
  position: relative;
}
.about .stage .stage-number {
  font-size: 75px;
  color: #cccccc;
}
.about .stage img {
  border-radius: 3%;
  display: block;
  margin: 20px auto;
  width: 45%;
  height: 55%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .about .stage img {
    width: 100%;
  }
}
.about .title-about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.about .title-about h1 {
  font-size: 48px;
  margin: 0;
}
.about .title-about p {
  font-size: 24px;
  margin: 10px 0;
}
.about .title-about #go-to-description {
  font-size: 40px;
  border: solid 2px #fff;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  margin-top: 10%;
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
}
.about .title-about #go-to-description:hover {
  border-color: #f60;
}

#car {
  height: 80px;
  position: absolute;
  scale: -1 1;
  right: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

#thank-you-message-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  background-color: rgba(51, 51, 51, 0);
}
#thank-you-message-bg #thank-you-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  width: 40%;
  height: 30%;
  padding: 5%;
  gap: 20px;
  border-radius: 10px;
  opacity: 0;
  text-align: center;
}
#thank-you-message-bg #thank-you-message img {
  width: 100%;
}
#thank-you-message-bg #thank-you-message h3 {
  font-size: 1.5em;
  color: #fff;
}
@media (max-width: 1000px) {
  #thank-you-message-bg #thank-you-message {
    width: 85%;
  }
}

main.product-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 35px 0;
  gap: 35px;
  width: 60%;
}
.product-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-container #product-name-year {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.product-container #product-price {
  font-size: 24px;
  margin: 5px 0;
  color: #f60;
}
.product-container .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 15px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
  border: solid 1px #f60;
}
.product-container .slider-container .image-container {
  position: relative;
  width: 100%;
  padding-bottom: 62.5%;
  overflow: hidden;
}
.product-container .slider-container .image-container #product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-container .slider-container .slider-button {
  border-radius: 100%;
  width: 39px;
  height: 39px;
  position: absolute;
  z-index: 1;
}
.product-container .slider-container #slider-prev {
  left: 1%;
}
.product-container .slider-container #slider-next {
  right: 1%;
}
.product-container .slider-container #page-tracker {
  background-color: #f60;
  position: absolute;
  bottom: 3%;
  padding: 10px 15px;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.product-container .product-info {
  background-color: #333;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}
.product-container .product-info p {
  color: #fff;
  text-align: center;
}
.product-container .product-info table {
  color: #fff;
  width: 100%;
  border-collapse: collapse;
}
.product-container .product-info table tr {
  border-bottom: solid 1px #f60;
}
.product-container .product-info table td {
  padding: 10px;
  border-bottom: 1px solid #f60;
  text-align: left;
}
.product-container .product-info table td strong {
  color: #f60;
}
.product-container h1#product-characteristics-title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
  text-align: center;
}
.viewed-img {
  max-height: 95%;
  max-width: 95%;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 450px) {
  .product-container {
    width: 100%;
  }
  .product-container .slider-button,
  .product-container #page-tracker {
    font-size: 12px;
    padding: 5px 8px;
  }
}