#admin-section-open {
    @extend .section-open-button-template;
}

#admin-container {
    @extend .form-container;
    position: relative;
    max-height: 95%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    #element-type-select {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        background-color: rgb(var(--background-color));
        border-radius: 5px;
        padding: 15px;
        font-size: smaller;

        button {
            @extend .default-button-dark-bg;
        }

        .element-type-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 15px;

            .element-type {
                @extend .flex-align-to-center;
                color: rgb(var(--background-color));
                background-color: rgb(var(--secondary-color));
                gap: 10px;
                padding: 10px;
                border-radius: 5px;
                flex: 1;
                min-width: 90px;
                text-align: center;
                cursor: pointer;
                transition: all .4s;

                &:hover {
                    color: rgb(var(--secondary-color));
                    background-color: rgb(var(--main-color));
                    transform: scale(1.05);
                }
            }
        }
    }

    form {
        @extend .form-template;

        label {
            @extend .flex-align-to-center;
            flex-direction: row;
            font-size: 14px;
            cursor: pointer;

            input[type="checkbox"] {
                position: absolute;
                opacity: 0;

                &:checked+.checkbox-button {
                    background-color: rgb(var(--background-color));
                    color: rgb(var(--main-color));

                    &::before {
                        background-color: rgb(var(--secondary-color));
                    }
                }
            }

            .checkbox-button {
                display: flex;
                border-radius: 5px;
                transition: color 0.4s, background-color 0.4s;
            }

            .checkbox-button::before {
                content: "";
                width: 14px;
                height: 14px;
                border-radius: 3px;
                margin-right: 10px;
                transition: background-color 0.4s;
                border: solid 1px rgb(var(--main-color));
            }
        }
    }
}

.delete-button-active {
    color: rgb(var(--secondary-color)) !important;
    background-color: rgb(var(--main-color)) !important;
}

.delete-mode {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" height="16"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>'), auto;
}

.blog-section {
    @extend .flex-align-to-center;
    width: 100%;
    gap: 35px;

    .cards-section-buttons {
        @extend .flex-align-to-center;

        a,
        button {
            @extend .default-button-dark-bg;
            margin-bottom: 35px;
        }

        a {
            margin: 35px;
            display: none;
        }
    }

    .posts-container {
        width: 100%;
        padding: 3%;
        display: grid;
        justify-items: center;
        text-align: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;

        .blog-post-card {
            background-color: rgb(var(--main-color));
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            width: 320px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }

            @media (max-width: 340px) {
                &:hover {
                    transform: none;
                }
            }

            .blog-post-info {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                gap: 10px;
                width: 100%;
                color: rgb(var(--background-color));
                font-size: 14px;

                .blog-post-title {
                    font-size: 16px;
                    font-weight: bold;
                }

                .blog-post-date {
                    opacity: 0.8;
                }

                .blog-post-read-more {
                    @extend .default-button-light-bg;

                    .fa-arrow-up-right-from-square {
                        font-size: small;
                    }
                }
            }
        }
    }
}