body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(var(--background-color));

    main {
        flex: 1;

        .info-message {
            position: fixed;
            bottom: 1%;
            right: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            color: rgb(var(--secondary-color));
            background-color: rgb(var(--background-color));
            border-radius: 5px;
            padding: 1% 1.5%;
            gap: 5px;
            opacity: 0;
            z-index: 6;

            @media (max-width: 810px) {
                padding: 1%;
                gap: 0;
            }

            .fa-xmark {
                font-size: 14px;
                color: rgba(var(--main-color), .7);
                border-radius: 100%;
                padding: 2px 3px;

                &:hover {
                    background-color: rgba(var(--main-color), .1);
                }
            }
        }

        .error-message,
        .success-message {
            visibility: visible;
            opacity: 1;
            transition: opacity 1s;
        }

        .error-message {
            box-shadow: 3px 3px 10px red;
        }

        .success-message {
            box-shadow: 3px 3px 10px green;
        }

        .invisible {
            opacity: 0;
        }

        #slider {
            @extend .flex-align-to-center;
            text-align: center;
            color: rgb(var(--background-color));
            background-image: var(--slider-image);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            padding: 10%;

            h1 {
                text-shadow: black 2px 2px 2px;
                font-size: 48px;
                margin: 0;
            }

            #content-to-slide {
                overflow: hidden;
                position: relative;
                height: 20vh;
                width: 100%;

                .content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    transition: opacity .5s, transform 1s;
                    opacity: 0;
                    transform: translateY(50px);

                    p {
                        font-size: 24px;
                        text-shadow: black 2px 2px 2px;

                        @media (max-width:613px) {
                            font-size: 20px;
                        }
                    }

                    a {
                        @extend .default-button-light-bg;
                        font-size: 18px;
                    }
                }

                .top-slider-position {
                    opacity: 1;
                    transform: translateY(0);
                    z-index: 1;
                }
            }
        }

        .features {
            display: flex;
            justify-content: space-around;
            padding: 35px;
            color: rgb(var(--background-color));
            background-color: rgb(var(--main-color));
            border-top: solid 2px rgb(var(--secondary-color));
            border-bottom: solid 2px rgb(var(--secondary-color));

            @media (max-width: 420px) {
                padding: 5% 1%;
                font-size: small;
            }

            i {
                font-size: 2em;
            }

            .feature {
                text-align: center;
            }
        }
    }
}