body {
    margin: 0;
    padding: 0;

    main {
        min-height: 100vh;

        .info-message {
            position: fixed;
            bottom: 1%;
            right: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            color: rgb(var(--secondary-color));
            background-color: rgb(var(--background-color));
            border-radius: 5px;
            padding: 1% 1.5%;
            gap: 5px;
            opacity: 0;
            z-index: 6;

            .fa-xmark {
                font-size: 14px;
                color: rgba(var(--main-color), .7);
                border-radius: 100%;
                padding: 2px 3px;

                &:hover {
                    background-color: rgba(var(--main-color), .1);
                }
            }
        }

        .error-message,
        .success-message {
            visibility: visible;
            opacity: 1;
            transition: opacity 1s;
        }

        .error-message {
            box-shadow: 3px 3px 10px red;
        }

        .success-message {
            box-shadow: 3px 3px 10px green;
        }

        .invisible {
            opacity: 0;
        }

        /* Стилі для слайдера */
        .hero {
            @extend .flex-align-to-center;
            text-align: center;
            color: rgb(var(--background-color));
            background-image: url('/src/images/car_pink.png');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            overflow: hidden;
            padding: 10%;

            h1 {
                font-size: 48px;
                margin: 0;
            }

            p {
                font-size: 24px;
            }

            a {
                @extend .default-button-light-bg;
                font-size: 18px;
            }
        }

        /* Стилі для переваг */
        .features {
            display: flex;
            justify-content: space-around;
            padding: 35px;
            color: rgb(var(--background-color));
            background-color: rgb(var(--main-color));
            border-top: solid 2px rgb(var(--secondary-color));

            i {
                font-size: 2em;
            }

            .feature {
                text-align: center;
            }
        }

        @media (max-width: 420px) {
            .features {
                padding: 5% 1%;
                font-size: small;
            }
        }

        @media (max-width: 810px) {
            .info-message {
                padding: 1%;
                gap: 0;
            }
        }
    }
}