#calculator-section-open {
    @extend .section-open-button-template;
}

#calculator-container {
    @extend .form-container;

    #leasing-box {
        display: none;
    }

    form {
        @extend .form-template;
    }

    result {
        width: 100%;
        max-height: 50px;
        display: none;
        overflow-y: scroll;
        text-align: center;
        font-size: smaller;
    }
}