#filter-section-open {
    @extend .section-open-button-template;
}

#filter-container {
    @extend .form-container;
    max-height: 95%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    form {
        @extend .form-template;
    }
}

.catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .catalog-grid {
        width: 60%;
        padding: 3%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
        gap: 20px;
        color: rgb(var(--main-color));

        .column {
            @extend .flex-align-to-center;
            justify-content: flex-start;
            gap: 10px;
            border-left: solid 1px rgb(var(--secondary-color));
            border-right: solid 1px rgb(var(--secondary-color));

            list-title {
                font-size: 18px;
                font-weight: bold;
            }

            div {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                    width: fit-content;
                    color: rgb(var(--main-color));

                    &:hover {
                        color: rgb(var(--secondary-color));
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}