.catalog {
    @extend .flex-align-to-center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    color: rgb(var(--main-color));
    background-color: rgb(var(--background-color));

    .column {
        display: flex;
        flex-direction: column;
        gap: 10px;

        list-title {
            font-size: 18px;
            font-weight: bold;
        }

        div {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}