$product-white: #fff;
$product-dark: #333;
$product-orange: #f60;

#compare-section-open {
    background-color: $product-orange;
    color: $product-white;
    padding: 15px;
    border-radius: 100%;
    font-size: 18px;
    transition: background-color 0.3s;
    text-decoration: none;
    z-index: 4;
    position: fixed;
    left: 1%;
    bottom: 2%;
    transition: color .6s, background-color .6s;
    border: solid 2px $product-white;

    &:hover {
        .fa-scale-unbalanced {
            display: none;
        }

        .fa-scale-unbalanced-flip {
            display: inline;
        }

        border: solid 2px $product-orange;
        color: $product-orange;
        background-color: $product-white;
    }

    .fa-scale-unbalanced-flip {
        display: none;
    }
}

#compare-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $product-dark;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}