$product-white: #fff;
$product-dark: #333;
$product-orange: #f60;

#consultation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $product-dark;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    .auth-box {
        background-color: $product-white;
        border: 1px solid $product-dark;
        border-radius: 8px;
        width: 400px;
        height: auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: $product-dark;
        margin-bottom: 20px;
        text-align: center;
    }

    .cons-form {
        display: flex;
        flex-direction: column;

        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid $product-dark;
            border-radius: 5px;
        }

        button {
            background-color: $product-orange;
            color: $product-white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;

            &:hover {
                color: $product-orange;
                background-color: $product-dark;
            }
        }
    }

    p {
        text-align: center;
        margin-top: 10px;
        font-size: small;

        a {
            color: $product-orange;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .hidden {
        display: none;
    }
}