footer {
    background-color: rgb(var(--main-color));
    color: rgb(var(--background-color));
    padding: 20px;
    text-align: center;
    width: 100%;

    a {
        color: rgb(var(--secondary-color));
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: rgb(var(--background-color));
        transition: all .6s;
    }
}