footer {
    background-color: rgb(var(--main-color));
    color: rgb(var(--background-color));
    padding: 20px;
    text-align: center;
    width: 100%;

    a {
        display: inline-block;
        width: fit-content;
        color: rgb(var(--secondary-color));

        &:hover {
            color: rgb(var(--background-color));
        }
    }
}