footer {
    background-color: darken($product-dark, 5%);
    color: $product-white;
    padding: 20px;
    text-align: center;
    width: 100%;

    a {
        color: $product-orange;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: $product-white;
        transition: all .6s;
    }
}