$product-white: #fff;
$product-dark: #333;
$product-orange: #f60;

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    // outline: 1px solid red;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
    color: $product-white;
}

.default-button-dark-bg {
    background-color: $product-orange;
    color: $product-white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;

    &:hover {
        color: $product-orange;
        background-color: $product-dark;
    }
}

.default-button-light-bg {
    background-color: $product-orange;
    color: $product-white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;

    &:hover {
        color: $product-orange;
        background-color: $product-white;
    }
}

.close-modal-window-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 25px;
    color: $product-white;
    background-color: $product-orange;
    transition: color .6s, background-color .6s;
    z-index: 1;

    &:hover {
        color: $product-orange;
        background-color: $product-white;
    }
}

body::-webkit-scrollbar {
    display: none;
}