[data-theme="default-theme"] {
    --main-color: 55, 55, 55;
    --secondary-color: 255, 102, 0;
    --background-color: 255, 255, 255;
    --hero-image: url('/src/images/car_pink.png');
}

[data-theme="golden-accent-theme"] {
    --main-color: 33, 37, 41;
    --secondary-color: 218, 185, 100;
    --background-color: 255, 255, 255;
    --hero-image: url('/src/images/car_yellow.png');
}

[data-theme="red-accent-theme"] {
    --main-color: 33, 37, 41;
    --secondary-color: 220, 53, 69;
    --background-color: 248, 249, 250;
    --hero-image: url('/src/images/car_pink.png');
}

[data-theme="vibrant-purple-yellow-theme"] {
    --main-color: 111, 66, 193;
    --secondary-color: 255, 193, 7;
    --background-color: 248, 249, 250;
    --hero-image: url('/src/images/car_yellow.png');
}

[data-theme="gray-tone-theme"] {
    --main-color: 75, 75, 75;
    --secondary-color: 140, 140, 140;
    --background-color: 255, 255, 255;
    --hero-image: url('/src/images/car_gray.png');
}

* {
    box-sizing: border-box;
    // outline: 1px solid red;
    transition: color 0.4s, background-color 0.4s, transform 0.4s, opacity 0.4s, border-color 0.4s;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
    color: rgb(var(--background-color));
}

a:hover {
    text-decoration: underline;
}

input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(var(--main-color));
    border-radius: 5px;
}

textarea {
    max-height: 200px;
    resize: vertical;
}

.flex-align-to-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.default-button-template {
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--background-color));
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;

    &:hover {
        color: rgb(var(--secondary-color));
    }
}

.default-button-dark-bg {
    @extend .default-button-template;

    &:hover {
        background-color: rgb(var(--main-color));
    }
}

.default-button-light-bg {
    @extend .default-button-template;

    &:hover {
        background-color: rgb(var(--background-color));
    }
}

.burger-instruments-wrapper {
    @extend .flex-align-to-center;
    position: fixed;
    left: 1%;
    bottom: 1%;
    gap: 10px;
    z-index: 4;

    &:hover {
        .open-section-button-container {
            display: flex;
        }

        .burger-open-section-container-buttons {
            color: rgb(var(--secondary-color));
            background-color: rgb(var(--background-color));
            border-color: rgb(var(--secondary-color));

            i {
                transform: rotate(-90deg);
            }
        }
    }

    .open-section-button-template {
        @extend .default-button-light-bg;
        font-size: large;
        border: solid 2px rgb(var(--background-color));
        border-radius: 100%;
        width: 55px;
        height: 55px;

        &:hover {
            border-color: rgb(var(--secondary-color));
        }
    }

    .burger-open-section-container-buttons {
        @extend .open-section-button-template;

        i {
            transform: rotate(0deg);
        }
    }

    .open-section-button-container {
        @extend .flex-align-to-center;
        display: none;
        gap: 10px;
        z-index: 4;

        .section-open-button-template {
            @extend .open-section-button-template;
            width: 50px;
            height: 50px;
        }
    }
}

.modal-window-dark-bg-template {
    @extend .flex-align-to-center;
    display: none;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgb(var(--main-color));
    z-index: 5;

    i.fa-xmark {
        @extend .default-button-template;
        position: fixed;
        top: 0;
        right: 0;
        padding: 25px;
        z-index: 1;

        &:hover {
            background-color: rgb(var(--background-color));
        }
    }

    .modal-window-element {
        display: none;
    }
}

.form-container {
    background-color: rgb(var(--background-color));
    border: 1px solid rgb(var(--main-color));
    border-radius: 5px;
    width: 400px;
    height: auto;
    padding: 20px;

    h2 {
        color: rgb(var(--main-color));
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        text-align: center;
        margin-top: 10px;
        font-size: small;
        opacity: 0.7;

        span {
            color: rgb(var(--secondary-color));
            font-size: larger;
            font-weight: bold;
        }

        a {
            color: rgb(var(--secondary-color));
        }
    }

    form {
        @extend .flex-align-to-center;
        align-items: normal;
        gap: 15px;

        button {
            @extend .default-button-dark-bg;
            font-weight: bold;

            &:disabled {
                color: rgba(var(--secondary-color), .7);
                background-color: rgba(var(--main-color), .7);
            }
        }
    }
}