header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: rgb(var(--main-color));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;

        a {
            margin: 0 15px;

            &:hover {
                color: rgb(var(--secondary-color));
                transition: all .4s;
            }
        }
    }

    .icon-wrapper {
        visibility: hidden;
        position: absolute;
        color: rgb(var(--background-color));

        .fa-angles-down {
            visibility: hidden;
            position: absolute;
        }

        .vertical-nav {
            @extend .flex-align-to-center;
            background-color: rgb(var(--main-color));
            visibility: hidden;
            position: absolute;
            gap: 15px;
            padding: 10px;
            margin: 0px -50px;
            border: solid 1px rgb(var(--secondary-color));
        }
    }

    .icon-wrapper:hover {
        .fa-angles-up {
            visibility: hidden;
            position: absolute;
        }

        .fa-angles-down {
            visibility: visible;
            position: relative;
        }

        .vertical-nav {
            visibility: visible;
        }
    }

    @media (max-width: 930px) {
        .horizontal-nav {
            visibility: hidden;
            position: absolute;
        }

        .icon-wrapper {
            visibility: visible;
            position: relative;
        }
    }

    .logo-bg {
        display: flex;
        justify-content: flex-start;

        a {
            font-size: 3.5vmax;
            color: rgb(var(--secondary-color));
        }
    }

    @media (max-width: 545px) {
        padding: 10px 5px;
    }

    .consultation-button-bg {
        display: flex;
        justify-content: flex-end;

        button {
            @extend .default-button-light-bg;

            @media (max-width: 545px) {
                font-size: 80%;
                padding: 5px;
            }

            @media (max-width: 340px) {
                font-size: 70%;
                padding: 5px;
            }
        }
    }
}