$product-white: #fff;
$product-dark: #333;
$product-orange: #f60;

#auth-container {
    @extend .form-container;

    #register-box {
        display: none;
    }

    form {
        @extend .form-template;
    }
}