.post-container {
    @extend .flex-align-to-center;
    padding: 40px;
    color: rgb(var(--main-color));
    background-color: rgb(var(--background-color));

    .post-content-container {
        @extend .flex-align-to-center;
        text-align: center;
        gap: 10px;
        width: 100%;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 36px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            position: relative;
            font-size: 18px;
            line-height: 2;
            margin: 0 auto 40px auto;
            max-width: 850px;
            text-align: justify;
            text-indent: 25px;

            .link-box {
                display: inline-flex;
                align-items: center;
                gap: 10px;
                font-size: small;
                color: rgb(var(--background-color));
                background-color: rgb(var(--secondary-color));
                border-radius: 5px;
                padding: 0px 5px;
                position: relative;
                top: 3px;

                &:hover {
                    color: rgb(var(--secondary-color));
                    background-color: rgb(var(--main-color));
                }

                img {
                    padding: 1px;
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                }
            }
        }

        .image-container {
            position: relative;
            width: 55%;
            aspect-ratio: 16 / 9;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: solid 1px rgb(var(--secondary-color));
                border-radius: 5px;
            }

            @media (max-width: 1000px) {
                width: 80%;
            }
        }
    }

    .comments-section {
        @extend .flex-align-to-center;
        justify-content: normal;
        width: 600px;
        max-width: 100%;
        height: 500px;
        gap: 15px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgb(var(--secondary-color)) rgb(var(--main-color));

        h2 {
            margin: 0;
        }

        #add-comment-section {
            @extend .flex-align-to-center;
            align-items: normal;
            gap: 15px;
            width: 500px;
            max-width: 100%;

            textarea {
                height: 150px
            }

            button {
                @extend .default-button-dark-bg;
            }
        }

        .comment {
            width: 500px;
            padding: 10px;
            max-width: 100%;

            .comment-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .commentator-name {
                    font-weight: 700;
                }

                .comment-publication-date {
                    text-align: center;
                }

                .comment-publication-date,
                .commentator-role {
                    font-size: smaller;
                    color: rgba(var(--main-color), 0.7);
                }

                .admin-role {
                    font-size: smaller;
                    color: rgba(var(--secondary-color), 0.7);
                }
            }

            .comment-text {
                padding: 10px;
                text-align: center;
                margin: 0;
            }
        }
    }
}