$product-white: #fff;
$product-dark: #333;
$product-orange: #f60;

/* Стилі для популярних моделей */
.cards-section {
    @extend .flex-align-to-center;
    gap: 35px;

    .cars-container {
        width: 100%;
        padding: 3%;
        display: grid;
        justify-items: center;
        text-align: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;

        .product-card {
            background-color: $product-dark;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            width: 320px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }

            .product-image-container {
                position: relative;
                width: 100%;

                .product-image {
                    width: 100%;
                    height: 214px;
                    object-fit: cover;
                    border-bottom: 2px solid $product-orange;
                }

                .compare-btn {
                    position: absolute;
                    left: 2%;
                    bottom: 5%;
                    padding: 10px 15px;
                    background-color: $product-orange;
                    border-radius: 5px;
                    color: white;
                    border: none;
                    opacity: 0;
                    transition: all .6s, opacity .3s;
                    font-size: 14px;

                    &:hover {
                        color: $product-orange;
                        background-color: $product-white;
                    }
                }
            }

            .product-image-container:hover .compare-btn {
                opacity: 1;
            }

            .product-info {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                .product-title {
                    font-size: 18px;
                    font-weight: bold;
                    color: $product-white;
                }

                .product-description {
                    font-size: 14px;
                    color: $product-white;
                    opacity: 0.8;
                }

                .product-features {
                    display: flex;
                    gap: 10px;
                    font-size: 14px;
                    color: $product-white;
                    justify-content: center;

                    .feature {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .icon {
                            font-size: 16px;
                        }
                    }
                }

                .product-price {
                    font-size: 16px;
                    font-weight: bold;
                    color: $product-orange;
                    margin: 10px;
                }

                a {
                    @extend .default-button-light-bg;

                    .fa-arrow-up-right-from-square {
                        font-size: small;
                    }
                }

                .product-footer {
                    font-size: 12px;
                    color: $product-white;
                    text-align: center;
                    margin-top: 10px;
                    opacity: 0.7;
                }
            }
        }

        @media (max-width: 340px) {
            .product-card:hover {
                transform: none;
            }
        }
    }

    a,
    button {
        @extend .default-button-dark-bg;
        margin-bottom: 35px;
    }

    a {
        display: none;
    }
}