.cards-section {
    @extend .flex-align-to-center;
    width: 100%;
    gap: 35px;

    .cards-section-buttons {
        @extend .flex-align-to-center;

        a,
        button {
            @extend .default-button-dark-bg;
            margin-bottom: 35px;
        }

        a {
            margin: 35px;
            display: none;
        }
    }

    .cars-container {
        width: 100%;
        padding: 3%;
        display: grid;
        justify-items: center;
        text-align: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;

        .product-card {
            background-color: rgb(var(--main-color));
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            width: 320px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &:hover {
                transform: scale(1.05);
            }

            @media (max-width: 340px) {
                &:hover {
                    transform: none;
                }
            }

            .product-image-container {
                position: relative;
                width: 100%;

                &:hover .compare-btn {
                    opacity: 1;
                }

                .product-image {
                    width: 100%;
                    height: 214px;
                    object-fit: cover;
                    border-bottom: 2px solid rgb(var(--secondary-color));
                }

                .compare-btn {
                    position: absolute;
                    left: 2%;
                    bottom: 5%;
                    padding: 10px 15px;
                    background-color: rgb(var(--secondary-color));
                    border-radius: 5px;
                    color: rgb(var(--background-color));
                    border: none;
                    opacity: 0;
                    font-size: 14px;

                    &:hover {
                        color: rgb(var(--secondary-color));
                        background-color: rgb(var(--background-color));
                    }
                }
            }

            .product-info {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;
                gap: 10px;
                width: 100%;
                color: rgb(var(--background-color));
                font-size: 14px;

                .product-title {
                    font-size: 16px;
                    font-weight: bold;
                }

                .product-description {
                    opacity: 0.8;
                }

                .product-features {
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    .feature {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .icon {
                            font-size: 16px;
                        }
                    }
                }

                .product-price {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 10px;
                }

                a,
                button {
                    @extend .default-button-light-bg;
                }

                a {
                    .fa-arrow-up-right-from-square {
                        font-size: small;
                    }
                }

                .product-footer {
                    font-size: 12px;
                    color: rgb(var(--background-color));
                    text-align: center;
                    margin-top: 10px;
                    opacity: 0.7;
                }
            }
        }
    }
}