.services {
    padding: 40px;
    background-color: rgb(var(--background-color));
    color: rgb(var(--main-color));
    text-align: center;

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
        line-height: 2;
        margin: 0 auto;
        max-width: 850px;
    }

    .stage {
        @extend .flex-align-to-center;
        margin-bottom: 40px;

        .stage-number {
            font-size: 75px;
            color: rgba(var(--main-color), .25);
        }

        .enumeration-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        }

        img {
            border-radius: 3%;
            display: block;
            margin: 20px auto;
            width: 45%;
            height: 55%;
            object-fit: cover;
        }

        @media (max-width: 1000px) {
            img {
                width: 100%;
            }
        }
    }

    .title-services {
        @extend .flex-align-to-center;
        height: 90vh;

        h1 {
            font-size: 48px;
            margin: 0;
        }

        p {
            font-size: 24px;
            margin: 10px 0;
        }

        #go-to-description {
            @extend .default-button-light-bg;
            font-size: 40px;
            border: solid 2px rgb(var(--background-color));
            border-radius: 100%;
            width: 64px;
            height: 64px;
            margin-top: 10%;
            transition: border-color 0.4s;

            &:hover {
                border-color: rgb(var(--secondary-color));
            }
        }
    }
}

#services-container {
    @extend .form-container, .flex-align-to-center;
    gap: 25px;

    .service {
        @extend .flex-align-to-center;
        width: 100%;
        padding: 15px;
        border-bottom: solid 1px rgb(var(--secondary-color));
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }

        h2 {
            margin: 10px;
            line-height: 0;
        }
    }

    @media (max-width: 340px) {
        h2 {
            font-size: 22px;
        }
    }

    a {
        @extend .default-button-dark-bg;

        i {
            font-size: small;
        }
    }
}