.services {
    padding: 40px;
    background-color: $product-white;
    color: $product-dark;
    text-align: center;

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
        line-height: 2;
        margin: 0 auto;
        max-width: 850px;
    }

    .stage {
        margin-bottom: 40px;
        position: relative;

        .stage-number {
            font-size: 75px;
            color: darken($product-white, 20%);
        }

        img {
            border-radius: 3%;
            display: block;
            margin: 20px auto;
            width: 45%;
            height: 55%;
            object-fit: cover;
        }

        @media (max-width: 1000px) {
            img {
                width: 100%;
            }
        }
    }

    .title-services {
        @extend .flex-align-to-center;
        height: 90vh;

        h1 {
            font-size: 48px;
            margin: 0;
        }

        p {
            font-size: 24px;
            margin: 10px 0;
        }

        #go-to-description {
            @extend .default-button-light-bg;
            font-size: 40px;
            border: solid 2px $product-white;
            border-radius: 100%;
            width: 64px;
            height: 64px;
            margin-top: 10%;
            transition: border-color 0.4s;

            &:hover {
                border-color: $product-orange;
            }
        }
    }
}