@use "sass:math";

.services {
    padding: 40px;
    background-color: rgb(var(--background-color));
    color: rgb(var(--main-color));
    text-align: justify;

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
        line-height: 2;
        margin: 0 auto;
        max-width: 850px;
    }

    .stage {
        @extend .flex-align-to-center;
        margin-bottom: 40px;

        .stage-number {
            font-size: 75px;
            color: rgba(var(--main-color), .25);
        }

        ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 15px;
            padding: 0;
            margin: 15px;
            width: 70%;
            font-size: 1.3rem;
            color: rgb(var(--secondary-color));
            list-style-type: none;

            li {
                line-height: 2;
                font-size: 1rem;
            }

            @media (max-width:1000px) {
                width: 90%;
            }
        }

        .image-container {
            position: relative;
            width: 55%;
            aspect-ratio: 16 / 9;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: solid 1px rgb(var(--secondary-color));
                border-radius: 5px;
            }

            @media (max-width: 1000px) {
                width: 80%;
            }
        }
    }

    .title-services {
        @extend .flex-align-to-center;
        height: 90vh;

        h1 {
            font-size: 48px;
            margin: 0;
        }

        p {
            font-size: 24px;
            margin: 10px 0;
        }

        #go-to-description {
            @extend .default-button-light-bg;
            font-size: 40px;
            border: solid 2px rgb(var(--background-color));
            border-radius: 100%;
            width: 64px;
            height: 64px;
            margin-top: 10%;

            &:hover {
                border-color: rgb(var(--secondary-color));
            }
        }
    }
}

#services-container {
    @extend .form-container, .flex-align-to-center;
    gap: 25px;

    .service {
        @extend .flex-align-to-center;
        width: 100%;
        padding: 15px;
        border-bottom: solid 1px rgb(var(--secondary-color));

        &:hover {
            transform: scale(1.05);
        }

        h2 {
            margin: 10px;
            line-height: 0;
        }
    }

    @media (max-width: 340px) {
        h2 {
            font-size: 22px;
        }
    }

    a {
        @extend .default-button-dark-bg;

        i {
            font-size: small;
        }
    }
}