#theme-section-open {
    @extend .section-open-button-template;
}

#theme-container {
    @extend .form-container;
    max-height: 95%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .theme-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-weight: bold;
            font-size: 18px;
        }

        container {
            width: 100%;
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            button {
                @extend .default-button-dark-bg;
                height: fit-content;
            }

            .colors {
                width: 50%;
                padding: 7px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                border-radius: 5px;
                background-color: rgba(var(--secondary-color), .4);

                .general-colors-style {
                    padding: 2px;
                    border-radius: 5px;
                    text-align: center;
                    border: solid 3px;
                }

                main-color {
                    @extend .general-colors-style;
                    border-color: rgb(var(--background-color));
                    color: rgb(var(--background-color));
                    background-color: rgb(var(--main-color));
                }

                secondary-color {
                    @extend .general-colors-style;
                    border-color: rgb(var(--main-color));
                    color: rgb(var(--main-color));
                    background-color: rgb(var(--secondary-color));
                }

                background-color {
                    @extend .general-colors-style;
                    border-color: rgb(var(--secondary-color));
                    color: rgb(var(--secondary-color));
                    background-color: rgb(var(--background-color));
                }
            }
        }
    }
}